.itemC {
    width: 10%;
    height: 25%;
    border: 3px solid;
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(205, 119, 119);
}

.name {
    color: rgb(146, 11, 11);
    margin:auto;
}

.price {
    
    margin: auto;
}